# JWT
PRIVATE_KEY_PATH=
PUBLIC_KEY_PATH=

# API
PORT_API = 
HOST_API = 
DEBUG_MODE = 

# DB
URL_DB = 
#URL_DB = "sqlite:///:memory:" Use this one to unit testing
PORT_DB = 
POSTGRES_DB =
POSTGRES_USER =
POSTGRES_PASSWORD =

# Redis
REDIS_HOST = 
REDIS_PORT = 
REDIS_KEY = 

# Admin
ADMIN_BOOTSTRAP_TOKEN =